.header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid gray;
  padding: 20px 40px;
  @media (max-width: 450px) {
    justify-content: center;
  }
  &__logo {
    font-weight: bold;
    color: darkcyan;
  }
}