@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500&family=Nunito:wght@500;600;700;800;900&display=swap');

* {
  font-family: 'Manrope', sans-serif;
  text-decoration: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  height: 100vh;
}

.todo {
    font-size: 25px;
    padding: 20px;
    @media (max-width: 450px) {
      justify-content: center;
    }
    &__logo {
      font-weight: bold;
      color: darkcyan;
    }
}