* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  word-break: break-all;
  @media (max-width: 450px) {
    font-size: 13px;
  }
}

p {
  word-break: break-all;
}

.wrapper {
  display: flex;
  justify-content: center;
  margin-top: 32px;
  height: 100%;
}

.board {
  width: 30%;
  max-width: 500px;
  border: 5px solid darkgrey;
  padding: 20px 10px;
  border-radius: 12px;
  margin: 10px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-direction: column;
  overflow: scroll;
  overflow-x: hidden;
  @media (max-width: 450px) {
    width: 130px;
    min-height: 50vh;
    max-height: 100vh;
    margin:2px;
  }
}

.title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 16px;

  &__button__container{
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }

  &__placeholder {
    flex: 1;
  }
  p{
    flex: 2;
    text-align: center;
    @media (max-width: 450px) {
      font-size: 13px;
    }
  }
  button {
    font-size: 20px;
    color: darkcyan;
    font-weight: bold;
    border: 2px solid darkcyan;
    padding: 2px 8px;
    border-radius: 8px;
    cursor: pointer;

    &:hover {
      border: 2px solid transparent;
      color: #fcfcf9;
      background-color: darkcyan;
    }

    @media (max-width: 450px) {
      padding: 2px 4px;
      font-size: 9px;
      border-radius: 8px;
      margin-left: 10px;
    }

  }

}

.item {
  width: 100%;
  border: 2px solid darkcyan;
  padding: 10px;
  border-radius: 6px;
  margin: 5px 0;
  cursor: grab;
  background-color: #fcfcf9;
  box-shadow: none;
  @media (max-width: 450px) {
    font-size: 9px;
    font-weight: bold;
  }

  p{
    margin: 8px 0;
  }

  &__edit {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 16px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    &__button {
      font-size: 20px;
      color: darkcyan;
      font-weight: bold;
      border: 2px solid darkcyan;
      border-radius: 8px;
      padding: 4px 24px;
      @media (max-width: 450px) {
        font-size: 9px;
        padding: 2px 4px;
        border-radius: 6px;
        margin-left: 0;
        margin-top: 2px;
      }
    }

    &__trash {
      width: 25px;
      height: 25px;
      cursor: default;
      @media (max-width: 450px) {
        width: 15px;
        height: 15px;
        margin-top: 0;
      }
    }

      &__button:hover {
        border: 2px solid transparent;
        color: #fcfcf9;
        background-color: darkcyan;
      }
    }
  }
